@import "tailwindcss";

:root {
  font-family: system-ui, "Noto Sans Arabic", Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --background: #ffffff;
  --foreground: #213547;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

/* Hide scrollbar for mobile menu */
.mobile-menu::-webkit-scrollbar {
  display: none;
}

.mobile-menu {
  -ms-overflow-style: none;
  scrollbar-width: none;
}